:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-60: hsla(0, 0%, 100%, 0.6);

  --ff-body: "Lexend Deca", arial, helvetica, sans-serif;
  --ff-heading: "Inter", arial, helvetica, sans-serif;
  --fs-sm: 0.9375rem;
}
body {
  min-height: 100vh;
  padding-inline: 1.5rem;
  padding-block: 5rem;
  font-family: var(--ff-body);
  background-color: var(--very-dark-blue);
}
img,
picture {
  width: 100%;
  display: block;
}
.card {
  max-width: 1100px;
  margin-inline: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--dark-desaturated-blue);
}
.card__image {
  position: relative;
}
.card__image::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.2;
  background-color: var(--soft-violet);
}
.card__image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--soft-violet);
}
.card__image img {
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.card__text {
  min-height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2.5rem;
}
.card__text-header {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.card__text-header h1 {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: 1.75rem;
}
.card__text-header h1 span {
  color: var(--soft-violet);
}
.card__text-header p {
  line-height: 1.5;
  font-size: var(--fs-sm);
  font-family: var(--ff-heading);
  color: var(--white-75);
}
.card__text-footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card__text-footer article {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.card__text-footer b {
  font-size: 1.25rem;
}
.card__text-footer p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--fs-sm);
  color: var(--white-60);
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    flex-direction: row-reverse;
  }
  .card__image {
    width: 80%;
  }
  .card__text {
    padding: 3rem;
    text-align: left;
  }
  .card__text {
    row-gap: 3rem;
  }
  .card__text-header h1 {
    font-size: 2.25rem;
  }
  .card__text-header p {
    max-width: 400px;
    font-size: 1rem;
  }
  .card__text-footer {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .card__text {
    padding: 5rem;
  }
  .card__text-header h1 {
    font-size: 2.5rem;
  }
  .card__text-header p {
    max-width: 450px;
    font-size: 1.125rem;
  }
}
